@import '../../styles/_variables';
.nav{
    height: clamp(50px,70px,100px);
    background: $blue;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15px;
    margin-bottom: 50px;
    &Logo{
        font-weight: bold;
        letter-spacing: 1px;
    }
    &User{
        display: flex;
        align-items: center;
        &>p{
            margin-right: 10px;
        }
    }
    &Close{
        
            
            color: $white;
            background: $red;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            font-size: 14px;
    }
}